* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  /*reset Firefox user agent styles*/
  -moz-margin-before: 0px;
  -moz-margin-after: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-before: 0px;
  -moz-padding-after: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  /*reset Internet Explorer user agent styles*/
  -ms-margin-before: 0px;
  -ms-margin-after: 0px;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-before: 0px;
  -ms-padding-after: 0px;
  -ms-padding-start: 0px;
  -ms-padding-end: 0px;
  /*reset Opera user agent styles*/
  -o-margin-before: 0px;
  -o-margin-after: 0px;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-before: 0px;
  -o-padding-after: 0px;
  -o-padding-start: 0px;
  -o-padding-end: 0px;
}


/* General styles (General Module) */

html {
  max-width: 500px;
  margin: auto;
}

body {
  font-size: 20px;
  letter-spacing: .03em;
}

main {
  width: 85%;
  margin: auto;
}

button {
  border: 1px solid black;
  padding: 5px;
}

h1 {
  font-size: 1.8em;
}

a {
  transition: 0.5s ease;
  text-decoration: none;
}

.link-span {
  color: red;
}

.link-span:hover {
  color: darkred;
  cursor: pointer;
}

ul {
  list-style: none;
}

th, td {
  text-align: center;
}

/* Header styles (Main Module) */


/* Content styles (Main Module) */

/* Landing */

#title {
  margin-top: 12%;
  text-align: center;
}

#hero {
  margin: 15px auto;
}

#hero h3 {
  width: 300px;
  margin: 5% auto;
}

#demo {
  margin: 15px auto;
}

#demo p {
  text-align: center;
  font-size: .8em;
}

#login {
  text-align: center;
  margin: auto;
}

#login-form {
  border: 1px solid black;
  width: 300px;
  padding: 10px;
  margin: auto;
}

#login-form input {
  width: 50%;
}

/* Register */

#register {
  text-align: center;
  margin: 20vh auto 0;
}

#register-form {
  border: 1px solid black;
  width: 300px;
  padding: 10px;
  margin: auto;
}

#register-form input {
  width: 50%;
}

/* User */

#user {
  margin-top: 10vh;
}

#watch-now-button {
  display: block;
  margin: 15px auto;
}

/* View */

/* Child */

#child {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 10;
  font-size: 2em;
  /* width: 100%; */
  background-color: white;
  border-bottom: 1px solid black;
}

nav button {
  border: none;
}

.videos-placeholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  background-color: #444;
  width: 80%;
  height: auto;
  margin: 10px;
  border-radius: 10px;
}

li img,
li div {
  height: 100%;
  width: 100%;
}

/* Footer styles (Main Module) */


/* Media queries */



